<script setup lang="ts">
import MainLayout from "@/layouts/MainLayout.vue";
import FullLayout from "@/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import DeleteUserDialog from "./views/users/DeleteUserDialog.vue";
import DeleteProductDialog from "@/views/products/DeleteProductDialog.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <DeleteUserDialog></DeleteUserDialog>
  <DeleteProductDialog></DeleteProductDialog>
</template>

<style scoped></style>
