<script setup lang="ts">
import { useProductStore } from "@/stores/product";
import { useDialogStore } from "@/stores/dialog";
import { useUserStore } from "@/stores/user";
const dialogStore = useDialogStore();
const productStore = useProductStore();
const userStore = useUserStore();
function deleteItem() {
  userStore.deleteUser();
}
</script>

<template>
  <v-row>
    <v-dialog v-model="userStore.dialogUser">
      <v-card>
        <v-card-title class="text-center">
          <span class="text-h5">คุณต้องการลบใช่หรือไม่ ?</span>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn color="error" variant="text" @click="deleteItem"> ลบ </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="userStore.dialogUser = false"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
