<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const userStore = useUserStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
    close();
  }
}
function close() {
  userStore.confirmDialog = false;
  userStore.editedUser = { username: "", name: "", password: "" };
}
</script>
<template>
  <v-dialog v-model="userStore.confirmDialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">User</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="userStore.editedUser.username"
                  label="Username*"
                  required
                  :rules="[
                    (v) => !!v || 'Username ต้องไม่ว่าง',
                    (v) => v.length >= 3 || 'username ต้องมากกว่า 2 ตัวขึ้นไป',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="userStore.editedUser.name"
                  label="Name*"
                  :rules="[
                    (v) => !!v || 'Name ต้องไม่ว่าง',
                    (v) =>
                      v.length >= 5 || 'Name ต้องมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                  ]"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="userStore.editedUser.password"
                  label="Password*"
                  :rules="[
                    (v) => !!v || 'password จะต้องไม่เป็นช่องว่าง',
                    (v) =>
                      v.length >= 5 ||
                      'password ต้องมากกว่าหรือเท่ากับ 8 ตัวอักษร',
                    (v) =>
                      /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                        v
                      ) ||
                      'password ต้องมีตัวอักษรตัวเล็ก ตัวใหญ่ และตัวอักษรพิเศษ',
                  ]"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="close">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
